name: main
# PR checks

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  pull_request_review:
    types: [submitted]

  workflow_dispatch:

concurrency:
  group: main-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  partial_checks:
    if: github.event_name == 'pull_request' && !github.event.pull_request.draft
    uses: ./.github/workflows/main_partial.yml

  full_checks:
    if: github.event_name == 'push' || github.event_name == 'pull_request_review' && github.event.review.state == 'approved'
    uses: ./.github/workflows/main_full.yml

  common_checks:
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft

    permissions:
      # For golangci-lint
      contents: read
      pull-requests: read
      checks: write
    uses: ./.github/workflows/main_common.yml
